services:
  watchdog:
    build: .
    container_name: yandex-watcher-bot
    restart: always
    env_file:
      - .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./vms.yaml:/app/vms.yaml # Для сохранения IP при перезапуске
    stop_grace_period: 30s # Время на graceful shutdown
